body{
    background-color: bisque;
}

a{
    border: 0.1rem solid black;
    text-decoration: none;
    padding: 0rem 1rem;
    background-color: bisque;
}

table tr th, table tr td{
    border: 0.1rem solid black;
    padding: 2rem;
    background-color: beige;
}

table{
    border-collapse: collapse;
    box-shadow: 0.5rem 0.5rem 0rem black;
}
